@charset "utf-8";

/*common*/
.flex{ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex;  display: flex;}
.flex-items-center{ -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center;}
.flex-items-middle{ -webkit-align-items: center; align-items:center;}
.input-text{ box-sizing: border-box;}
.icon{ display: inline-block; background-repeat: no-repeat; background-position: center center; background-size: cover;}
.page-wrap{}
.page-bottom-bar{ padding-bottom: 1.32rem;}
.img-wrap img{ display: block; width: 100%; }

/*top*/
.head-nav{ height: 1.4rem; background-color: #232f3f;}
.search-bar{ flex: 1; padding: 0 0.24rem;}
.search-bar .input-wrap{ border-radius: 0.12rem; height: 1.08rem; overflow: hidden; background-color: #fff; }
.search-bar .input-wrap .icon{ width: 1.04rem; height: 100%; }
.search-bar .input-text{ border: none; flex: 1; height: 100%; font-size: 0.4rem;}
.nav-control{ width: 1.44rem; height: 1.08rem; color: #fff; text-align: center;}



.container-inner{ position: relative; }

.bottom-bar{ position: fixed; left: 0; bottom: 0; width: 100%; height: 1.32rem;}
.bottom-bar-inner{ height: 100%; padding-top: 0.13rem; box-sizing: border-box; border-top: 1px solid #dbdbdb; background-color: rgba(255,255,255,0.9); text-align: center;}

.popup{ display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.popup .popup-masker{ position: absolute; width: 100%; height: 100%; background-color: #000; opacity: 0.5;}
.popup .popup-content{ position: absolute; width: 8.8rem; height: 4.8rem; left: 50%; margin-left: -4.4rem; top: 50%; margin-top: -2.4rem;}
.popup .popup-content .popup-close{ position: absolute; right: 0; top: 0;}
.popup .popup-content-inner{ background-color: #fff; border-radius: 0.5rem; overflow: hidden; height: 100%; box-shadow: 0 0 0.5rem #777;}

/*index*/
.container-banner{ height: 4rem; }
.container-banner .swiper-container{ height: 100%; width: 100%;}
.container-banner .img-wrap{ width: 100%;}